/* Resets */

a {
    text-decoration: none;
}

body {
    line-height: 1;
}

button {
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
}

h1,
h2 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Elements */

:root {
    font-size: 1em;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

button {
    cursor: pointer;
}

/* Classes */

img.zoom {
    &:not(.lazy) {
        cursor: zoom-in;
    }

    &.lazy.loaded {
        cursor: zoom-in;
    }
}

.svg.noselect {
    pointer-events: none;
    user-select: none;
}
