nav {
    background: $clr-orange-normal;
    display: flex;
    flex-flow: row wrap;
    font: $nav-height $font-fam-main;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    .header {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        margin: 0 $nav-spacing-x;
        width: 100%;

        li {
            height: 100%;
            object-fit: contain;

            @media (hover: hover) {
                &:hover {
                    background: $clr-orange-dark;
                }
            }
        }

        a,
        button {
            display: block;
            height: 100%;
        }

        .logo .svg {
            font-size: 0.5em;
            padding: 0.5em $nav-spacing-x;
        }

        .menu-toggle {
            margin-left: auto;

            .svg {
                padding: 0.1em;
            }
        }

        .svg {
            box-sizing: border-box;
            display: block;
            fill: $clr-orange-very-light;
            height: 100%;
            max-width: 100%;
        }
    }

    &::after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
        content: '';
        display: block;
        height: $nav-shadow-height;
        width: 100%;
    }

    .menu {
        background: $clr-orange-normal;
        border-radius: 10px 10px 0 0;
        bottom: 0;
        display: none;
        margin-left: calc(#{100vw - $nav-menu-width} / 2);
        max-height: calc((100vh - #{1em + $nav-shadow-height}) / 1.25);
        overflow-y: auto;
        position: fixed;
        width: $nav-menu-width;
        z-index: 51;

        &.on {
            display: block;
        }

        h1 {
            font-size: 1em;
            margin: 0.1em 0 0.3em 0;
            text-align: center;
        }

        a {
            color: $clr-gray-dark;
            display: block;
            font-size: 0.75em;
            padding: 0.2em 0;
            text-align: center;

            @media (hover: hover) {
                &:hover {
                    background: $clr-orange-dark;
                }
            }
        }
    }

    @media (min-width: 720px) {
        .header {
            margin: 0 auto 0 $nav-spacing-x;
            width: auto;

            .menu-toggle {
                display: none;
            }
        }

        .menu {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            margin-right: $nav-spacing-x;
            width: auto;

            /* Reset */
            border-radius: initial;
            bottom: initial;
            margin-left: initial;
            max-height: initial;
            overflow-y: initial;
            position: initial;

            &.on {
                display: flex;
            }

            li {
                height: 100%;

                &:first-child {
                    display: none;
                }
            }

            a {
                align-items: center;
                border-bottom: 0.1em solid transparent;
                box-sizing: border-box;
                display: flex;
                font-size: 0.5em;
                height: 100%;
                padding: 0 $nav-spacing-x;

                @media (hover: hover) {
                    &:hover {
                        border-color: $clr-gray-dark;
                    }
                }
            }
        }
    }
}
