$main-font: 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
$main-clr-text: #444;

$nav-clr-bg: #ffc107; // Material Amber 500
$nav-clr-hl: #ffa000; // Material Amber 700
$nav-clr-text: #fff8e1; // Material Amber 50
$nav-height: 4em;
$nav-menu-width: 85vw;
$nav-shadow-height: 0.1em;
$nav-spacing-x: 0.35em;
