[Tt]humbs.db
.vscode/
tempCodeRunnerFile
node_modules/
/dist/
/node/optimize-jpeg/input/
/node/optimize-jpeg/output/
/src/assets/pics-thumbs/
/src/assets/svg-sprites/
/src/assets/templates/pics-thumbs/
/src/scripts/_bundle/
/src/scripts/_main-babel/
/src/scripts/_out/
/src/scripts/_parts-babel/
/src/styles/_lib-imports/
/src/styles/_out/
/src/styles/_parts-prefixed/