<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>Main Page</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffc107">

<link data-prod="build" rel="stylesheet" href="/styles/_out/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110450418-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110450418-1');
</script>

</head>
<body>

<div class="modal">
    <canvas class="modal-cvs"></canvas>
</div>

<nav>
    <ul class="header">
        <li class="logo">
            <a href="#">
                <object data-prod="build" data="/assets/templates/temp-logo.svg"
                    class="svg noselect"></object>
            </a>
        </li>
        <li class="menu-toggle">
            <button>
                <svg class="svg" viewBox="0 0 48 48">
                    <use xlink:href="/assets/svg-sprites/icons.svg#menu"></use>
                </svg>
            </button>
        </li>
    </ul>
    <ul class="menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</nav>

<main class="index">

<header>
    <h1>Company Name</h1>
    <h2>Slogan</h2>
    <aside>
        <ul>
            <li>
                <svg class="svg" viewBox="0 0 48 48" role="img">
                    <title>Phone</title>
                    <use xlink:href="/assets/svg-sprites/icons.svg#phone"></use>
                </svg>
                <div>Phone Number</div>
            </li>
            <li>
                <svg class="svg" viewBox="0 0 48 48" role="img">
                    <title>Adress</title>
                    <use xlink:href="/assets/svg-sprites/icons.svg#location">
                    </use>
                </svg>
                <div>Adress</div>
            </li>
            <li>
                <svg class="svg" viewBox="0 0 48 48" role="img">
                    <title>Opening Times</title>
                    <use xlink:href="/assets/svg-sprites/icons.svg#time"></use>
                </svg>
                <div>Opening Times</div>
            </li>
            <li>
                <svg class="svg" viewBox="0 0 48 48" role="img">
                    <title>Email</title>
                    <use xlink:href="/assets/svg-sprites/icons.svg#email"></use>
                </svg>
                <div>Email</div>
            </li>
        </ul>
    </aside>
</header>

<section class="products">
    <header>
        <h2>Products</h2>
    </header>
    <ul>

        <li class="product" data-product-id="a">
            <a class="img" href="#">
                <img data-prod="build"
                    src="/assets/templates/pics-thumbs/temp-img-fhd.png"
                    class="lazy" height="1080" width="1920"
                    data-src="/assets/templates/pics/temp-img-fhd.png">
            </a>
            <div class="info">
                <a href="#"><h3>Product Name</h3></a>
                <button class="fav-toggle" data-product-id="a" title="Favorite">
                    <svg class="svg noselect" viewBox="0 0 48 48" role="img">
                        <use xlink:href="/assets/svg-sprites/icons.svg#fav">
                        </use>
                    </svg>
                </button>
            </div>
        </li>

        <li class="product" data-product-id="b">
            <a class="img" href="#">
                <img data-prod="build"
                    src="/assets/templates/pics-thumbs/temp-img-fhd.png"
                    class="lazy" height="1080" width="1920"
                    data-src="/assets/templates/pics/temp-img-fhd.png">
            </a>
            <div class="info">
                <a href="#"><h3>Product Name</h3></a>
                <button class="fav-toggle" data-product-id="b" title="Favorite">
                    <svg class="svg noselect" viewBox="0 0 48 48" role="img">
                        <use xlink:href="/assets/svg-sprites/icons.svg#fav">
                        </use>
                    </svg>
                </button>
            </div>
        </li>

        <li class="product" data-product-id="c">
            <a class="img" href="#">
                <img data-prod="build"
                    src="/assets/templates/pics-thumbs/temp-img-fhd.png"
                    class="lazy" height="1080" width="1920"
                    data-src="/assets/templates/pics/temp-img-fhd.png">
            </a>
            <div class="info">
                <a href="#"><h3>Product Name</h3></a>
                <button class="fav-toggle" data-product-id="c" title="Favorite">
                    <svg class="svg noselect" viewBox="0 0 48 48" role="img">
                        <use xlink:href="/assets/svg-sprites/icons.svg#fav">
                        </use>
                    </svg>
                </button>
            </div>
        </li>

    </ul>
</section>

</main>

<script data-prod="build" src="/scripts/_out/index.js"></script>

</body>
</html>