main.product {
    margin-top: $nav-height;
    width: 100%;

    article,
    section {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        max-width: 100%;
    }

    .img {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        max-width: 60em;
        width: 100%;
    }

    img {
        display: block;
        height: auto;
        max-height: calc((100vh - #{$nav-height + $nav-shadow-height}) / 1.25);
        max-width: 100%;
        object-fit: contain;
    }

    h1,
    p, {
        font-family: $main-font;
        max-width: 40em;
    }

    h1 {
        font-size: 3em;
        margin: 0.5em 1rem;
    }

    p {
        color: $main-clr-text;
        font-size: 1.25em;
        line-height: 1.5;
        margin: 1em 1rem;
    }
}
